# Load and configure most driver when usb INIC is attached
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0424", ATTR{idProduct}=="cf18", RUN{builtin}="kmod load aim_network aim_cdev hdm_usb"

# Configure Control Channel
ACTION=="add", DEVPATH=="/devices/virtual/most/mostcore/devices/mdev0/ep0f", RUN{program}="most-setup $sys$devpath control tx"
ACTION=="add", DEVPATH=="/devices/virtual/most/mostcore/devices/mdev0/ep8f", RUN{program}="most-setup $sys$devpath control rx"

# Configure Control Channel
ACTION=="add", DEVPATH=="/devices/virtual/most/mostcore/devices/mdev1/ep0e", RUN{program}="most-setup $sys$devpath async tx"
ACTION=="add", DEVPATH=="/devices/virtual/most/mostcore/devices/mdev1/ep8e", RUN{program}="most-setup $sys$devpath async rx"

# Permissions on /dev/inic nodes, tag systemd to allow depending on these nodes
ACTION=="add", SUBSYSTEM=="most_cdev_aim", MODE="0666", TAG+="systemd", ENV{SYSTEMD_WANTS}="acsdaemon-eval.service"
