# Load and configure most driver when usb INIC is attached
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0424", ATTR{idProduct}=="cf18", RUN{builtin}="kmod load aim_network aim_cdev hdm_usb"

# Tag systemd to make most driver initialization depend on all mdevs available
ACTION=="add", DEVPATH=="/devices/virtual/most/mostcore/devices/mdev0", TAG+="systemd"
ACTION=="add", DEVPATH=="/devices/virtual/most/mostcore/devices/mdev1", TAG+="systemd"
ACTION=="add", DEVPATH=="/devices/virtual/most/mostcore/devices/mdev2", TAG+="systemd"

# Permissions on /dev/inic nodes, tag systemd to allow depending on these nodes
ACTION=="add", SUBSYSTEM=="most_cdev_aim", MODE="0666", TAG+="systemd", ENV{SYSTEMD_WANTS}="acsdaemon-eval.service"
